<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Title  -->
    <title>Amado - Người dùng</title>

    <!-- Favicon  -->
    <link rel="icon" href="/public/img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/core-style.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="/search" method="get">
                        <input
                                type="search"
                                name="search"
                                id="search"
                                placeholder="Nhập từ khóa..."
                        />
                        <button type="submit">
                            <img src="/public/img/core-img/search.png" alt="" />
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="/"><img src="/public/img/core-img/logo.png" alt="" /></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Start -->
    <%- include('layout/header.ejs') %>
    <!-- Header End -->

    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">

        <!-- End Slider -->
        <div class="amado-pro-catagory clearfix">
            <!--User Infomation Area Start-->

            <div class="amado-user-info">

                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="<%=customer.avatar%>"><span class="font-weight-bold"><%=customer.fullNameCustomer.firstName+" "+customer.fullNameCustomer.lastName%></span><span class="text-black-50"><%=customer.email %></span><span> </span></div>
                            <!--                            <label class="form-label" for="customFile">Default file input example</label>-->
                            <!--                            <input type="file" class="form-control" id="customFile" />-->
                            <form action="/user-info" method="get">
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" href="change-pass" onclick="this.form.submit()">Đổi thông tin cá nhân</button></div>
                            </form>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3 py-5">
<!--                                <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                                    <h4 class="text-right">Thông tin khách hàng</h4>-->
<!--                                </div>-->
                                <form class="editUser" action="/change-pass" method="post">
<!--                                    <div class="row mt-2">-->
<!--                                        <div class="col-md-6"><label class="labels">Tên</label><input type="text" name="lastName" class="form-control" value="<%=customer.fullNameCustomer.lastName  %>" placeholder="" ></div>-->
<!--                                        <div class="col-md-6"><label class="labels">Họ</label><input type="text" name="firstName" class="form-control" value="<%=customer.fullNameCustomer.firstName%>" placeholder=""></div>-->
<!--                                    </div>-->
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Mật khẩu cũ</label><input type="password" name="oldPass" class="form-control" placeholder="" value=""></div>
                                        <div class="col-md-12"><label class="labels">Mật khẩu mới</label><input type="password" name="newPass" class="form-control" placeholder="" value=""></div>
                                        <div class="col-md-12"><label class="labels">Nhập lại mật khẩu mới</label><input type="password" name="retypeNewPass" class="form-control" placeholder="" value=""></div>
<!--                                        <div class="col-md-12"><label class="labels">Địa Chỉ</label><input type="text" class="form-control" name="addr" placeholder="" value="<%=customer.address%>"></div>-->
<!--                                        <div class="col-md-12"><label class="labels">Email</label><input type="text" name="email" class="form-control" placeholder="" value="<%=customer.email%>"></div>-->
<!--                                        <div class="col-md-12"><label class="labels">Link Avatar</label><input type="text" name="avatar" class="form-control" placeholder="" value="<%=customer.avatar%>"></div>-->
                                    </div>
                                    <!--                                    <div class="row mt-3">-->
                                    <!--                                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>-->
                                    <!--                                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>-->
                                    <!--                                    </div>-->
                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" onclick="this.form.submit()">Lưu thông tin</button></div>
                                </form>
                            </div>
                        </div>
                        <!--        <div class="col-md-4">-->
                        <!--            <div class="p-3 py-5">-->
                        <!--                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>-->
                        <!--                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>-->
                        <!--                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>-->
                        <!--            </div>-->
                        <!--        </div>-->
                    </div>
                </div>
            </div>


            <!--User Infomation Area End-->
        </div>
    </div>
    <!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- ##### Newsletter Area Start ##### -->
<section class="newsletter-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Subscribe for a <span>25% Discount</span></h2>
                    <p>
                        Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit
                        amet mi vulputate consectetur. Donec auctor interdum purus, ac
                        finibus massa bibendum nec.
                    </p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="post">
                        <input
                                type="email"
                                name="email"
                                class="nl-email"
                                placeholder="Your E-mail"
                        />
                        <input type="submit" value="Subscribe" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ##### -->


<!--Footer-->
<%- include('layout/footer.ejs') %>
<!--Footer End-->

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/public/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/public/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/public/js/plugins.js"></script>
<!-- Active js -->
<script src="/public/js/active.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<% if(message && message.length > 0){%>
    <script>
        toastr.success('<%= message %>','Thông báo', {timeOut: 1500, progressBar: true, closeButton: true});
    </script>
<%} %>
</body>
</html>
