<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/public/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/libs/css/style.css">
    <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/public/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/public/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/public/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/public/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
   <!-- Title  -->
   <title>Amado - Dashboard</title>

   <!-- Favicon  -->
   <link rel="icon" href="/public/img/core-img/favicon.ico" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">

        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/dashboard"><img class="logo-img" src="/public/img/core-img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/uploads/user-01.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <% fullName = adminProfile.fullNameCustomer.firstName + " " + adminProfile.fullNameCustomer.lastName %> 
                                    <h5 class="mb-0 text-white nav-user-name"><%= fullName %> </h5>
                                </div>
                                <a class="dropdown-item" href="/admin/profile"><i class="fas fa-user mr-2"></i>Tài khoản</a>
                                <a class="dropdown-item" href="/admin/dashboard/logout"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu show">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="/admin/dashboard">Tổng quan</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/categories-manager">Quản lý danh mục</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/products-manager">Quản lý sản phẩm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">Quản lý đơn hàng</a>
                                            <div id="submenu-1-2" class="collapse submenu show">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/admin/dashboard/pending-orders-manager">Chờ xác nhận</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="/admin/dashboard/orders-manager">Tình trạng đơn hàng</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/dashboard/users-manager">Quản lý người dùng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/admin/dashboard/admin-list">Danh sách tài khoản quản trị</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="/sign-up">Thêm tài khoản quản trị</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="amado-pro-catagory clearfix">
                <!--Admin Infomation Area Start-->
                <div class="amado-admin-info">
                    <div class="container rounded bg-white mt-5 md-5">
                        <div class="row">
                            <div class="col-md-4 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="<%=adminProfile.avatar%>"><span class="font-weight-bold"><%=adminProfile.fullNameCustomer.firstName+" "+adminProfile.fullNameCustomer.lastName%></span><span name="userName" class="text-black-50"><%=adminProfile.loginInformation.userName%></span><span> </span></div>
                                <form action="/change-password" method="get">
                                    <div class="mt-0 text-center"><button class="btn btn-primary profile-button" type="button" href="change-password" onclick="this.form.submit()">Đổi mật khẩu</button></div>
                                </form>
                            </div>
                            <div class="col-md-8 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Thông tin tài khoản</h4>
                                    </div>
                                    <form class="row g-3" accept-charset="utf-8" spellcheck="false" enctype="multipart/form-data" action="/admin/profile/<%=adminProfile._id %>" method="POST">
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label for="validationServer01" class="form-label">Tên</label><input type="text" name="adminLastName" class="form-control" id="validationServer01" value="<%=adminProfile.fullNameCustomer.lastName%>" placeholder="<%=adminProfile.fullNameCustomer.lastName%>" required></div>
                                        <div class="col-md-6"><label for="validationServer01" class="form-label">Họ</label><input type="text" name="adminFirstName" class="form-control" id="validationServer01" value="<%=adminProfile.fullNameCustomer.firstName%>" placeholder="<%=adminProfile.fullNameCustomer.firstName%>" required></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">Giới tính</label><input type="text" name="adminSex" class="form-control" id="validationServer01" placeholder="<%=adminProfile.sex=='Nam'?'Nam':'Nữ'%>" value="<%=adminProfile.sex=='Nam'?'Nam':'Nữ'%>"></div>
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">CMND</label><input type="text" name="adminIdentityCardNumber" class="form-control" id="validationServer01" placeholder="<%=adminProfile.identityCardNumber%>" value="<%=adminProfile.identityCardNumber%>"></div>
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">Ngày sinh</label>
                                            <input id="validationServer01" class="form-control form-control-lg" type="date" name="adminDoB" required placeholder="yyyy-mm-dd" value="<%=adminProfile.dateOfBirth%>">
                                        </div>
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">Số Điện Thoại</label><input type="text" name="adminPhoneNumber" class="form-control" id="validationServer01" placeholder="<%=adminProfile.phoneNumber%>" value="<%=adminProfile.phoneNumber%>"></div>
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">Địa Chỉ</label><input type="text" name="adminAddress" class="form-control" id="validationServer01" placeholder="<%=adminProfile.address%>" value="<%=adminProfile.address%>"></div>
                                        <div class="col-md-12"><label for="validationServer01" class="form-label">Email</label><input type="text" name="adminEmail" class="form-control" id="validationServer01" placeholder="<%=adminProfile.email%>" value="<%=adminProfile.email%>"></div>
                                    </div>
                                    <!--                                    <div class="row mt-3">-->
                                    <!--                                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>-->
                                    <!--                                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>-->
                                    <!--                                    </div>-->
                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Lưu thông tin</button></div>
                                    </form>
                                </div>
                            </div>
                            <!--        <div class="col-md-4">-->
                            <!--            <div class="p-3 py-5">-->
                            <!--                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>-->
                            <!--                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>-->
                            <!--                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>-->
                            <!--            </div>-->
                            <!--        </div>-->
                        </div>
                    </div>
                </div>
                <!--User Infomation Area End-->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/public/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/public/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/public/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/public/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <!-- <script src="/public/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/public/assets/vendor/charts/morris-bundle/morris.js"></script> -->
    <!-- chart c3 js -->
    <script src="/public/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/public/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/public/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/public/assets/libs/js/dashboard-ecommerce.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <% if(message && message.length > 0){%>
        <script>
            toastr.success('<%= message %>','Thông báo', {timeOut: 1500, progressBar: true, closeButton: true});
        </script>
    <%} %> 
</body>
 
</html>